.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background: black;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.toggleButton {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonBar {
  height: 0.2rem;
  display: block;
  background: white;
  margin: 0.6rem 0;
}
