.header {
  position: fixed;
  display: flex;
  grid-row: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  background: black;
}

.toggleButton {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonBar {
  display: block;
  height: 0.2rem;
  margin: 0.6rem 0;
  background: white;
}

.navItems {
  display: flex; /* default flex-direction is row */
  margin: 0;
  padding: 0 20px;
}

.navItem {
  margin: 0 1rem;
}

.navItem a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}
