.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background: black;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleButton {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonBar {
  height: 0.2rem;
  display: block;
  background: white;
  margin: 0.6rem 0;
}

.navItems {
  display: flex; // default flex-direction is row
}

.navItem {
  margin: 0 1rem;
}

.navItem a {
  font-size: 1.2rem;
}
